@import 'variables.scss';

.content-header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .filtered-content-wrapper {
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;

        .content-title {
            font-weight: $bold;
            font-size  : 28px;
            line-height: 100%;
            color      : #484848;
        }

        .filtered-product {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            padding-top    : 5px;

            .searched-item-label {
                font-weight: $regular;
                font-size  : 15px;
                line-height: 100%;
                color      : $lightGrey;
            }

            .filtered-product-text {
                font-weight: $regular;
                font-size  : 15px;
                line-height: 100%;
                color      : #000000;
            }
        }
    }

    .order-button {
        border       : 1px solid $lightGrey;
        border-radius: 4px;
        padding      : 11px 17.5px;

        &:hover {
            background-color: rgba(176, 176, 176, 0.08);
            cursor          : pointer;
        }

        .order-button-label {
            display        : flex;
            justify-content: space-evenly;
            gap            : 4px;
            align-items    : center;
            font-weight    : $regular;
            font-size      : 17px;
            line-height    : 24px;
            color          : $lightGrey;
        }
    }
}